.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.preloader video {
    width: auto;
    height: 20vh; /* Størrelsen på videoen */
}